<app-header></app-header>
<section>
  <header class="header">
    <h1>
      Bem-vindo à nossa Biblioteca Online!
    </h1>
  </header>

  <div class="paragrafo">
    <p>Explore uma coleção diversificada de livros, dos clássicos aos best-sellers mais recentes. Encontre facilmente
      livros disponíveis para empréstimo e sinopses detalhadas para orientar sua escolha. Deixe-se envolver pelas
      histórias e mergulhe em um mundo de conhecimento e imaginação. Bem-vindo à comunidade de leitores apaixonados!</p>
  </div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>
