.app-header {
  background: linear-gradient(to bottom, #007bff, #6f42c1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header .logo {
  width: 35%;
  padding: 2rem 3rem;
}

.app-header .logo img {
  width: 50%;
  max-width: 350px;
  margin-bottom: 2rem;
}

.navigation {
  display: flex;
  padding: 100px;
}

.button-navigation{
  margin-bottom: 10px;
  margin-right: 10px;
  width: 160px;
  height: 50px;
}

.logo {
  cursor: pointer;
}

.app-header .user-info {
  margin-right: 20px;
}

.logo-img {
  max-width: 20%;
}

@media (max-width: 576px) {
  .app-header .logo {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .app-header .logo {
    width: 40%;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation button {
    padding-bottom: 15px;
  }
}
